/* CSS VARIABLES */
:root {
  /* 01 COLORS */
  --Dark-Blue: #172339;
  --Grey: #49566d;
  --Cream: #f3ede7;
  --Cream-White: #faf8f6;
  --Custom-Purple: #a060ff;
  --Custom-Pink: #cb30e3;
  --Custom-Gold: #ffa84e;

  /* 02 TYPOGRAPHY */
  --Epilogue: "Epilogue", sans-serif;
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Background color for body */

body {
  background-color: var(--Cream);
  font-family: var(--Epilogue);
}

/* Header */

.header {
  max-width: 100%;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.logo {
  height: 32px;
}

.transparent-beta-btn {
  background-color: transparent;
  border: 1px solid var(--Dark-Blue);
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}

.transparent-beta-btn:hover {
  background-color: var(--Dark-Blue);
  color: var(--Cream-White);
}

/* Main content - text */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
}

.epilogue-bold {
  font-weight: bold;
}

.hero-content {
  position: relative;
}

.curved-line1 {
  position: absolute;
  left: 180px;
  top: -20px;
  height: 19px;
  width: 151px;
}

.hero-text-sec > h1 {
  font-size: 2.375rem;
  color: var(--Dark-Blue);
  font-weight: 500;
  max-width: 343px;
}

.hero-text-sec > p {
  color: var(--Grey);
  line-height: 28px;
  max-width: 343px;
  padding: 2rem 0rem;
}

.beta-btn {
  background-color: var(--Dark-Blue);
  color: var(--Cream-White);
  padding: 0.938rem 1.969rem;
  border: none;
  border-radius: 6px;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.beta-btn:hover {
  background: linear-gradient(
    130deg,
    var(--Custom-Purple),
    var(--Custom-Pink),
    var(--Custom-Gold)
  );
}

/* Hero image */

.hero-landscape {
  height: 343px;
  padding: 3.438rem 0rem;
  border-radius: 15px;
}

/* Stats */

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats > li:nth-child(2) {
  padding: 2rem 0rem;
}

.number {
  font-size: 3rem;
  color: var(--Dark-Blue);
}

.type {
  color: var(--Grey);
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

/* It just works box */

.works-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-Blue);
  width: 100%;
  height: 748px;
  border-radius: 15px;
  margin-top: 15rem;
  z-index: -1;
  padding: 0rem 1rem;
}

.jeremy-wrapper {
  top: -180px;
  position: absolute;
}

.jeremy {
  width: 252px;
}

.blur {
  z-index: -1;
  bottom: -90px;
  left: -50px;
  width: 343px;
  height: 402px;
  position: absolute;
}

.curved-line2 {
  margin-top: 16rem;
  width: 49.27px;
  height: 40px;
}

.works-box > h2 {
  font-size: 2.5rem;
  color: var(--Cream-White);
  font-weight: 500;
  padding-top: 2.313rem;
  padding-bottom: 2.5rem;
}

.works-box > p {
  text-align: center;
  color: var(--Cream);
  font-size: 1.125rem;
  line-height: 32px;
  width: 343px;
  letter-spacing: 0.09px;
}

.JR {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 32px;
  font-size: 1.125rem;
  color: var(--Cream-White);
}

.undertext {
  color: var(--Cream);
  line-height: 26px;
  letter-spacing: 2.5px;
  font-weight: 300;
}

.h3-text {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

footer > icon {
  width: 20px;
  height: 20px;
}

footer > div {
  display: flex;
  gap: 28px;
}

/* TABLET VIEW */

@media screen and (min-width: 375px) and (max-width: 1440px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 0rem 2.5rem;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 689px;
    height: 48px;
  }

  /* Hero content */
  .hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
